body{
/*    background-image: url("../fundo.png");*/
}

.ambiente{
    background-color: #EEEEEA;
}

#lavanderia{
    height: 83px;
    width: 110px;
}

#corredor-lavanderia{
    height: 74px;
    width: 230px;
}

#despensa{
    height: 83px;
    width: 69px;
}

#brinquedoteca{
    height: 135px;
    width: 190px;
}

#cozinha{
    height: 225px;
    width: 183px;    
}

.escada_01{
    height: 74px;
    width: 20px;
}

#floreira{
    height: 74px;
    width: 300px;    
}

#bwc_social{
    height: 175px;
    width: 83px;    
}

#circulacao_social_01 {
    height: 45px;
    width: 440px;    
}

#circulacao_social_02 {
    height: 30px;
    width: 45px;    
}

#sala_estar_01{
    height: 125px;   
    width: 300px;
}

#sala_estar_02{
    height: 50px;   
    width: 250px;
}

#virada_escada{
    height: 48px;
    width: 90px;
}

.escada_02
{
    height: 15px;
    width: 45px;
}

#festas{
    height: 330px;
    width: 235px;
}

#entrada_principal{
    height: 176px;
    width: 70px;
}

.escada_03
{
    height: 15px;
    width: 70px;
}

#garagem_01{
    height: 94px;
    width: 445px;
}

#garagem_02{
    height: 277px;
    width: 385px;
}

#banheiro_garagem{
    height: 178px;
    width: 85px;
}

#corredor_garagem{
    height: 178px;
    width: 55px;
}

#escritorio{
    height: 218px;
    width: 235px;
}

#deposito{
    height: 237px;
    width: 147px;
}

#terraco_tecnico{
    height: 117px;
    width: 143px;
}

#maquinas_piscina{
    height: 77px;
    width: 143px;
}

.escada_maquina_piscina_degrau{
    height: 78px;
    width: 15px;    
}

#quarto_miguel{
    height: 390px;
    width: 297px;
}

#banheiro_miguel{
    height: 297px;
    width: 137px;
}

#dormitorio{
    height: 297px;
    width: 310px;
}

#suite{
    height: 390px;
    width: 353px;
}

#entrada_suite{
    height: 91px;
    width: 116px;    
}

#circulacao_dormitorios{
    height: 91px;
    width: 627px;
}